In [6]:
import pandas as pd

In [7]:
train_df = pd.read_csv("/home/Data/appa-real/interim/appa-real-release/gt_avg_train.csv")
train_df.head()

    file_name  num_ratings  apparent_age_avg  apparent_age_std  real_age
0  000000.jpg           36          5.000000          1.146423         4
1  000001.jpg           63         20.079365          4.096819        18
2  000002.jpg           38         76.815789          6.133009        80
3  000003.jpg           38         55.657895          7.864653        50
4  000004.jpg           15         17.666667          3.457222        17

In [8]:
extend_df = pd.read_csv("/home/Data/appa-real/interim/appa-real-release/allcategories_train.csv")
extend_df.head()

         file  gender       race      makeup         time      happiness
0  000000.jpg    male  caucasian    nomakeup  modernphoto        neutral
1  000001.jpg  female  caucasian  verysubtle  modernphoto        neutral
2  000002.jpg  female  caucasian    notclear  modernphoto  slightlyhappy
3  000003.jpg  female  caucasian  verysubtle  modernphoto          happy
4  000004.jpg  female  caucasian      makeup  modernphoto  slightlyhappy

In [10]:
test_df = pd.read_csv("/home/Data/appa-real/processed/train.csv")
print(test_df.count())
test_df.head()

file_name    3995
age          3995
gender       3995
dtype: int64

                                           file_name        age  gender
0  /home/Data/appa-real/interim/appa-real-release...   5.000000       1
1  /home/Data/appa-real/interim/appa-real-release...  20.079365       0
2  /home/Data/appa-real/interim/appa-real-release...  76.815789       0
3  /home/Data/appa-real/interim/appa-real-release...  55.657895       0
4  /home/Data/appa-real/interim/appa-real-release...  17.666667       0

In [11]:
test_df = pd.read_csv("/home/Data/appa-real/processed/valid.csv")
print(test_df.count())
test_df.head()

file_name    1500
age          1500
gender       1500
dtype: int64

                                           file_name        age  gender
0  /home/Data/appa-real/interim/appa-real-release...  26.230769       1
1  /home/Data/appa-real/interim/appa-real-release...  27.256410       1
2  /home/Data/appa-real/interim/appa-real-release...  23.142857       1
3  /home/Data/appa-real/interim/appa-real-release...  73.289474       0
4  /home/Data/appa-real/interim/appa-real-release...  20.142857       0

In [12]:
test_df = pd.read_csv("/home/Data/appa-real/processed/test.csv")
print(test_df.count())
test_df.head()

file_name    1978
age          1978
gender       1978
dtype: int64

                                           file_name        age  gender
0  /home/Data/appa-real/interim/appa-real-release...  23.205128       0
1  /home/Data/appa-real/interim/appa-real-release...  70.736842       1
2  /home/Data/appa-real/interim/appa-real-release...  55.368421       1
3  /home/Data/appa-real/interim/appa-real-release...  24.277778       1
4  /home/Data/appa-real/interim/appa-real-release...  25.230769       0

In [14]:
age = test_df["age"][0]

In [15]:
type(age)

numpy.float64

In [16]:
gender = test_df["gender"][0]

In [17]:
type(gender)

numpy.int64

In [20]:

import numpy
gender = test_df.iloc[0]["gender"].astype(numpy.float32)

In [21]:
gender

0.0

In [25]:
gender = test_df.iloc[0]["age"].astype(numpy.float32)
type(gender)

numpy.float32

In [ ]:
import torch.nn.