In [1]:
import os
import pandas as pd
import seaborn as sns
import matplotlib
import numpy as np
import PIL

In [2]:
data_path = '/home/Data/apparentv1/raw'

In [7]:
train_path = os.path.join('/home/Data/apparentv1/raw/Train/Train.csv')

In [10]:
train_df = pd.read_csv(train_path, delimiter=';', columns = ['file_name', ''])

In [11]:
train_df.head(5)

   image_4797.jpg  21  4.026539
0  image_3532.jpg  21  5.267450
1  image_3720.jpg  28  3.569742
2   image_985.jpg  48  4.406435
3   image_963.jpg  17  3.427827
4    image_61.jpg  23  2.150779